* {
  text-decoration: none;
}
.paper {
  background: linear-gradient(rgba(26, 48, 86, 0.82), rgba(26, 48, 86, 0.82)),
    url("https://th.bing.com/th/id/OIP._5ARCUWBhJLF1kUg2zvebAHaDe?pid=ImgDet&rs=1");
      background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1224px) {
  .grid {
    padding: "0";
    background: "red";
  }
}
/* resume */
.css-1hxt08m-MuiLinearProgress-root {
  background-color: #cdafaf !important;
}
/* resume */
.css-h8g9t7-MuiLinearProgress-bar1 {
  background-color: red !important;
} 
/* home */
.image{
  height:95px;
  width:130px
}

@media screen and (max-width:850px) {
  
 .image{
   height:150px;
   width:180px
 }
}


@media screen and (max-width:500px) {
  .span {
    display:none;
  }
 .image{
   height:85px
 }
}
